.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 400;
  margin: 0 0 15px 0;
  font-size: 25px;
}
.head {
  height: 120px;
  background-color: rgb(68, 64, 64);
  color: whitesmoke;
  margin-top: 0;
  padding-top: 25px;
  position: sticky;
}

.searchbox {
  border-radius: 2px;
  border: none;
  width: 350px;
  height: 30px;
  padding: 8px;
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.card {
  /* width: auto; */
  margin: 10px;
  padding: 0;
  border-radius: 10px;

  /* padding: 30px; */
}

.pic {
  border-radius: 10px;
}
