.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 400;
  margin: 0 0 15px 0;
  font-size: 25px;
}
.head {
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgb(68, 64, 64);
  color: whitesmoke;
  padding-top: 10px;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 100;
}
.outterGallery {
  margin-top: 100px;
}
.searchbox {
  border-radius: 2px;
  border: none;
  width: 200px;
  height: 30px;
  padding: 8px;
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: center;
}
.card {
  /* width: auto; */
  margin: 5px;
  padding: 0;
  border-radius: 10px;

  /* padding: 30px; */
}

.pic {
  border-radius: 10px;
  cursor: pointer;
}
.gallery {
  margin-top: 120px;
  /* margin: 120px 10% 0 10% */
  padding-right: 10%;
  padding-left: 10%;
}

.imModal {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: auto;
}
